.list {
    width: 100%;
    height: 100%;
    background-color: #121212;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    padding: 30px;
    right: -110%;
    top: 0;

    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;

    .todosResults {
        max-height: 325px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 14px;
            height: 18px;
        }

        &::-webkit-scrollbar-thumb {
            height: 6px;
            border: 4px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            background-color: rgba(63, 63, 63, 0.2);
            -webkit-border-radius: 7px;
            -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
                inset 1px 1px 0px rgba(0, 0, 0, 0.05);
        }

        &::-webkit-scrollbar-button {
            display: none;
            width: 0;
            height: 0;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }

    .plusbtn {
        position: absolute;
        bottom: 20px;
    }

    h2 {
        color: #fff;
        font-size: 1.5rem;
        font-weight: bolder;

        margin: 0 0 25px 0;
    }
}
