.tab {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;

    span {
        width: 120px;
        text-align: center;
        transition: all ease 0.2s;

        &:hover {
            filter: contrast(2);
            filter: brightness(1.5);
        }

        &:first-child {
            color: #1b41fb;
            cursor: pointer;
        }
        &:nth-child(2) {
            color: #fff;
            font-weight: bolder;
        }
        &:last-child {
            color: #707275;
            font-weight: bolder;
            cursor: pointer;
        }
    }
}
