.footer {
    width: 100%;
    height: 50px;
    display: flex;

    justify-content: space-between;
    align-items: center;

    span {
        cursor: pointer;

        &:hover {
            filter: contrast(2);
            filter: brightness(1.5);
        }
    }
}
